@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1#site-title {
    font-family: 'ZCOOL KuaiLe', cursive;
}

span#subtile{
    font-family: 'ZCOOL KuaiLe', cursive;
}

a#site-name{
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* 页脚透明 */
#footer{
    background: transparent!important;
  }
  /* 头图透明 */
  #page-header{
    background: transparent!important;
  }
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  #page-header.post-bg:before {
    background-color: transparent!important;
  }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
      }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
      }
      