@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1#site-title {
    font-family: 'ZCOOL KuaiLe', cursive;
}

span#subtile{
    font-family: 'ZCOOL KuaiLe', cursive;
}

a#site-name{
    font-family: 'ZCOOL KuaiLe', cursive;
}
      